<!-- =========================================================================
    HEADER 
========================================================================= -->
<header>
    <div class="bg-header-blue py-2 px-3 mb-2">
        <h5 class="text-white m-0">Configuraciones / Prestamos</h5>
    </div>
    <ul class="nav nav-tabs px-3" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
            <a class="nav-link text-dark active" id="ticket1-tab"><i class="bi-gear" style="font-size: 1rem"></i> Tablero Principal</a>
        </li>

    </ul>
</header>
<!-- =========================================================================
    HEADER 
========================================================================= -->

<div class="container-fluid my-4">

    <!-- TARJETAS -->
    <div class="d-flex flex-wrap gap-3 mt-2">

        <div class="mb-4">
            <!-- Dashboard info widget 1-->
            <div class="card border-top-0 border-bottom-0 border-end-0 border-left-lg border-success h-100 bg-white">
                <div class="card-body">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="flex-grow-1">
                            <div class="small font-weight-bold text-success mb-1">Prestamos</div>
                            <div class="h5"> {{ total | currency }} </div>
                        </div>
                        <div class="ms-2">
                            <i class="bi bi-cash text-muted" style="font-size: 1.5rem;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-4">
            <!-- Dashboard info widget 1-->
            <div class="card border-top-0 border-bottom-0 border-end-0 border-left-lg border-dark h-100 bg-white">
                <div class="card-body">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="flex-grow-1">
                            <div class="small font-weight-bold text-dark mb-1">Total Abonado</div>
                            <div class="h5"> {{ totalAbonado | currency }} </div>
                        </div>
                        <div class="ms-2">
                            <i class="bi bi-cash text-muted" style="font-size: 1.5rem;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-4">
            <!-- Dashboard info widget 1-->
            <div class="card border-top-0 border-bottom-0 border-end-0 border-left-lg border-info h-100 bg-white">
                <div class="card-body">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="flex-grow-1">
                            <div class="small font-weight-bold text-info mb-1">Total Intereses</div>
                            <div class="h5"> {{ totalIntereses | currency }} </div>
                        </div>
                        <div class="ms-2">
                            <i class="bi bi-cash text-muted" style="font-size: 1.5rem;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- TARJETAS -->

    <div class="d-flex flex-wrap gap-3">

        <!-- FILTROS -->
        <div class="shadow-lg p-3 rounded bg-white col-auto">

            <!-- BUSCADOR DE CLIENTES  -->
            <div class="mb-3">
                <h4 class="text-muted">Buscar Cliente</h4>
                <div>
                    <input type="text" class="form-control" placeholder="buscar cliente" (keyup)="buscarClient(searchClient.value)" #searchClient>
                </div>

                <hr>

                <div *ngIf="listClients.length > 0" class="bg-white py-3 px-2 shadow" style="position: absolute; z-index: 1020;">

                    <div *ngIf="cargandoCliente" class="text-center py-3">
                        <div class="spinner-grow text-secondary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div>
                            <small class="text-muted">Cargando...</small>
                        </div>
                    </div>

                    <ul *ngIf="!cargandoCliente" class="list-group list-group-flush overflow-auto" style="max-height: 200px; min-width: 250px;">

                        <li class="list-group-item">
                            <h6>Resultados: ({{ listClients.length }})</h6>
                        </li>

                        <li class="list-group-item" *ngFor="let item of listClients">
                            <button (click)="buscarPrestamoClient(item.cid)" type="button" style="background: none; border: 0;">
                                <div class="d-flex ">
                                    <div class="align-self-center">
                                        <span class="text-capitalize fw-bold"> {{ item.name }} </span><br>
                                        <small> C.C: {{ item.cedula }} </small>
                                    </div>

                                    <div class="ms-auto">
                                        <i class="text-success bi-arrow-90deg-right"></i>
                                    </div>
                                </div>
                            </button>
                        </li>
                    </ul>

                </div>
            </div>
            <!-- BUSCADOR DE CLIENTES  -->

            <h4 class="text-muted">Filtros</h4>

            <div class="col-12">
                <div class="form-group">
                    <label for="">Por fecha</label>
                    <input type="datetime-local" class="form-control" #vence>
                </div>

                <button (click)="buscarFechas(vence.value)" type="button" class="btn btn-primary btn-sm btn-block">buscar</button>

            </div>

        </div>
        <!-- FILTROS -->

        <!-- TABLE PRESTAMOS -->
        <div class="shadow-lg p-3 rounded bg-white col-auto">

            <!-- CARGANDO -->
            <div *ngIf="cargando">
                <div class="text-center p-4">
                    <div class="spinner-grow text-secondary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <small class="text-muted">cargando...</small>
            </div>
            <!-- CARGANDO -->

            <div *ngIf="!cargando">

                <!-- BTN CREAR IMPUESTO -->
                <div class="d-flex">
                    <button (click)="loadPrestamos()" type="button" class="btn btn-sm btn-success btnW waves-effect waves-ligth">Recargar</button>
                    <button type="button" class="btn btn-sm btn-primary btnW waves-effect waves-ligth ms-auto" data-bs-toggle="modal" data-bs-target="#nuevoPrestamo">Crear</button>
                </div>
                <!-- BTN CREAR IMPUESTO -->

                <div class="table-responsive">
                    <table class="table table-borderless table-striped table-hover table-sm animated fadeIn ">
                        <thead class="border-bottom ">
                            <tr>
                                <th class="text-muted" scope="col ">Fecha</th>
                                <th class="text-muted" scope="col ">Cliente</th>
                                <th class="text-muted" scope="col ">Monto</th>
                                <th class="text-muted" scope="col ">Porcentaje</th>
                                <th class="text-muted text-center" cope="col ">Vence</th>
                                <th class="text-muted" scope="col ">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngIf="!sinResultados" class="text-center ">
                                <th colspan="10" class="py-4">
                                    <h4 class="text-muted">Sin Resultados</h4>
                                </th>
                            </tr>

                            <tr class="trHover" *ngFor="let prestamo of listaPrestamos; let i = index">
                                <td>{{ prestamo.fecha | date: 'd/M/y' }}</td>
                                <td>{{ prestamo.client.name }}</td>
                                <td>{{ prestamo.monto | divisa}}</td>
                                <td class="text-center">{{ prestamo.porcentaje }}%</td>
                                <td class="text-center">{{ prestamo.vence | date:'d MMMM, y' }}</td>
                                <td class="text-center">
                                    <a class="btn btn-link p-1 text-primary" [routerLink]="['/dashboard/configuracion/prestamo', prestamo.presid]">
                                        <i class="bi bi-box-arrow-up-right"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>

                    </table>

                </div>

                <!-- BTN SIGUIENTE Y ANTERIOR -->
                <div class="row">
                    <div class="col col-md-4">
                        <small class="text-muted">Total de prestamos: ({{totalPrestamos}})</small>
                        <small *ngIf="resultado !== 0" class="text-muted"> - (Resultados: {{ resultado }})</small>
                        <small *ngIf="desde !== 0" class="text-muted"> - (Desde el: {{ desde + 1}} Hasta el: {{ desde + listaPrestamos.length }})</small>
                    </div>
                </div>
                <!-- BTN SIGUIENTE Y ANTERIOR -->

            </div>
        </div>
        <!-- TABLE PRESTAMOS -->
    </div>


</div>

<!-- =========================================================================
    NUEVO PRESTAMO 
========================================================================= -->
<div class="modal fade" id="nuevoPrestamo" tabindex="-1" aria-labelledby="nuevoPrestamoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nuevoPrestamoModal"><i class="bi-collection" style="font-size: 1rem"></i> Crear Prestamo Nuevo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <h5 class="text-muted">Buscar Cliente</h5>

                <div class="col-md-12 mt-2 px-md-1">

                    <input type="text" class="form-control" placeholder="buscar cliente" (keyup)="buscarClient2(searchClient2.value)" #searchClient2>

                    <div *ngIf="listClients2.length > 0 && searchClient2.value.length !== 0" class="bg-white px-2 shadow col-auto" style="position: absolute; z-index: 1020;">

                        <ul class="list-group list-group-flush overflow-auto" style="max-height: 150px;">

                            <li class="list-group-item py-1">
                                <h6>Resultados: ({{ listClients2.length }})</h6>
                            </li>

                            <li class="list-group-item py-1" *ngFor="let cliente of listClients2">
                                <button [disabled]="!cliente.status" class="border-0 bg-white w-100 text-start" (click)="clientS = cliente; listClients2 = [] " type="button">
                                    <div class="d-flex">
                                        <div class="align-self-center">
                                            <span> {{ cliente.name }} </span>
                                            <span> {{ cliente.cedula }} </span>
                                            <span> {{ cliente.phone }} </span>
                                            <span *ngIf="!cliente.status" class="badge rounded-pill bg-danger">Eliminado</span>
                                        </div>
                                    </div>
                                </button>
                            </li>

                        </ul>

                    </div>
                </div>

                <hr>


                <form autocomplete="off" [formGroup]="createForm" (ngSubmit)="create()">

                    <!-- =======================================================================
                        Informacion del Prestamo
                    =========================================================================== -->
                    <div class="row mb-2">

                        <div class="col-md-12 px-md-1">
                            <label for="">Nombre</label>
                            <div class="form-floating">
                                <input readonly type="text" class="form-control text-capitalize" placeholder="Numero del Cliente" [value]="clientS?.name || ''">
                                <label for="floatingInput">Nombre</label>
                            </div>

                        </div>

                        <div class="col-md-12 px-md-1">
                            <label for="">Cedula</label>
                            <div class="form-floating">
                                <input readonly type="text" class="form-control text-capitalize" placeholder="Cedula del cliente" [value]="clientS?.cedula || ''">
                                <label for="floatingInput">Cedula</label>
                            </div>
                        </div>

                        <div class="col-md-12 px-md-1">
                            <label for="">Frecuencia</label>
                            <div class="form-floating">
                                <input formControlName="frecuencia" type="number" min="1" class="form-control text-capitalize" placeholder="Frecuencia">
                                <label for="floatingInput">Frecuencia</label>
                            </div>
                        </div>

                        <div class="col-md-12 px-md-1">
                            <label for="">Monto</label>
                            <div class="form-floating">
                                <input formControlName="monto" type="number" min="5000" class="form-control text-capitalize" placeholder="Monto">
                                <label for="floatingInput">Monto</label>
                            </div>
                        </div>

                        <div class="col-md-12 px-md-1">
                            <label for="">Porcentaje</label>
                            <div class="form-floating">
                                <input formControlName="porcentaje" type="number" min="0" class="form-control text-capitalize" placeholder="Porcentaje">
                                <label for="floatingInput">Porcentaje</label>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="text-danger mb-2">
                            <p *ngIf="validate('frecuencia')" class="mb-1 animated fadeIn">- La frecuencia de cobro es obligatoria</p>
                            <p *ngIf="validate('monto')" class="mb-1 animated fadeIn">- El Monto es obligatorio, minimo $5000</p>
                            <p *ngIf="validate('porcentaje')" class="mb-1 animated fadeIn">- El Porcentaje es obligatorio</p>
                        </div>
                    </div>


                    <button type="submit" class="btn btnW waves-effect waves-ligth px-3 btn-primary">crear</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- =========================================================================
    NUEVO PRESTAMO
========================================================================= -->