<div class="container-fluid">

    <!-- TITLE - SUBTITLE -->
    <div>
        <h5 class="text-dark">FACTURAS DE VENTAS</h5>
        <p>Lista de todas las facturas de ventas.</p>
    </div>
    <!-- TITLE - SUBTITLE -->

    <!-- TARJETAS -->
    <div class="col-12">

        <div class="d-flex flex-wrap gap-2">

            <div class="col-xl-2 col-md-3 mb-4">
                <!-- Dashboard info widget 1-->
                <div class="card border-top-0 border-bottom-0 border-end-0 border-left-lg border-primary h-100 bg-white">
                    <div class="card-body">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="flex-grow-1">
                                <div class="small font-weight-bold text-primary mb-1">Monto Total Facturas</div>
                                <div class="h5">({{totalAmount | divisa}})</div>
                                
                            </div>
                            <div class="ms-2">
                                <i class="bi bi-receipt text-muted" style="font-size: 1.5rem;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="user.role === 'ADMIN'" class="col-xl-2 col-md-3 mb-4">
                <!-- Dashboard info widget 1-->
                <div class="card border-top-0 border-bottom-0 border-end-0 border-left-lg border-success h-100 bg-white">
                    <div class="card-body">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="flex-grow-1">
                                <div class="small font-weight-bold text-success mb-1">Ganancia</div>
                                <div class="h5"> {{ totalAmount - totalCost | divisa }} </div>
                                
                            </div>
                            <div class="ms-2">
                                <i class="bi bi-cash text-muted" style="font-size: 1.5rem;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="empresa">
                <div class="col-xl-2 col-md-3 mb-4" *ngIf="empresa.commission || empresa.commissions">
                    <!-- Dashboard info widget 1-->
                    <div class="card border-top-0 border-bottom-0 border-end-0 border-left-lg border-info h-100 bg-white">
                        <div class="card-body">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="flex-grow-1">
                                    <div class="small font-weight-bold text-info mb-1">Comision</div>
                                    <div class="h5"> ({{ comision | divisa}}) </div>
                                    <div class="text-xs font-weight-bold text-info d-inline-flex align-items-center">
                                        {{ porcentaje }}%
                                    </div>
                                </div>
                                <div class="ms-2">
                                    <i class="bi bi-percent text-muted" style="font-size: 1.5rem;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="empresa">
                <div class="col-xl-2 col-md-3 mb-4" *ngIf="empresa.tip">
                    <!-- Dashboard info widget 1-->
                    <div class="card border-top-0 border-bottom-0 border-end-0 border-left-lg border-info h-100 bg-white">
                        <div class="card-body">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="flex-grow-1">
                                    <div class="small font-weight-bold text-info mb-1">Propinas</div>
                                    <div class="h5"> ({{ totalTip | divisa}}) </div>
                                </div>
                                <div class="ms-2">
                                    <i class="bi bi-coin text-muted" style="font-size: 1.5rem;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="empresa">
                <div class="col-xl-2 col-md-3 mb-4" *ngFor="let impuesto of impuestos">
                    <!-- Dashboard info widget 1-->
                    <div class="card border-top-0 border-bottom-0 border-end-0 border-left-lg border-info h-100 bg-white">
                        <div class="card-body">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="flex-grow-1">
                                    <div class="small font-weight-bold text-info mb-1"> {{ impuesto.name }} </div>
                                    <div class="h5"> ({{ impuesto.total | divisa}}) </div>
                                </div>
                                <div class="ms-2">
                                    <i class="bi bi-cash text-muted" style="font-size: 1.5rem;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <div class="col-xl-2 col-md-3 mb-4" *ngIf="query.credito">
                <!-- Dashboard info widget 1-->
                <div class="card border-top-0 border-bottom-0 border-end-0 border-left-lg border-warning h-100 bg-white">
                    <div class="card-body">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="flex-grow-1">
                                <div class="small font-weight-bold text-warning mb-1">Total Abonado</div>
                                <div class="h5"> {{ totalAbonado | divisa }} </div>
                                
                            </div>
                            <div class="ms-2">
                                <i class="bi bi-cash text-muted" style="font-size: 1.5rem;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-md-3 mb-4" *ngIf="query.credito">
                <!-- Dashboard info widget 1-->
                <div class="card border-top-0 border-bottom-0 border-end-0 border-left-lg border-warning h-100 bg-white">
                    <div class="card-body">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="flex-grow-1">
                                <div class="small font-weight-bold text-warning mb-1">Pendiente por cobrar</div>
                                <div class="h5"> {{ totalAmount - totalAbonado | divisa }} </div>
                                
                            </div>
                            <div class="ms-2">
                                <i class="bi bi-cash text-muted" style="font-size: 1.5rem;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-md-3">
            <div class="shadow-lg mb-5 py-3 rounded bg-white text-break container">

                <!-- BUSCADOR DE CLIENTES  -->
                <div class="mb-3">
                    <h4 class="text-muted">Buscar Cliente</h4>
                    <div *ngIf="cliente" class="d-flex flex-wrap align-items-center ">
                        <button type="button" (click)="deleteClient()" class="btn btn-link p-1 text-danger"><i class="bi-trash" style="font-size: 0.9rem"></i></button>
                        <samll  class="mb-0">{{ cliente.name }} </samll>
                    </div>
                    <div>
                        <input type="text" class="form-control" placeholder="buscar cliente" (keyup)="buscarCliente(searchClient.value)" #searchClient>
                    </div>

                    <div *ngIf="listaClientes.length > 0" class="bg-white py-3 px-2 shadow" style="position: absolute; z-index: 1020;">

                        <div *ngIf="cargandoCliente" class="text-center py-3">
                            <div class="spinner-grow text-secondary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div>
                                <small class="text-muted">Cargando...</small>
                            </div>
                        </div>

                        <ul *ngIf="!cargandoCliente" class="list-group list-group-flush overflow-auto" style="max-height: 200px; min-width: 250px;">

                            <li class="list-group-item">
                                <h6>Resultados: ({{ listaClientes.length }})</h6>
                            </li>

                            <li class="list-group-item" *ngFor="let item of listaClientes">
                                <div class="d-flex ">
                                    <div class="align-self-center">
                                        <span class="text-capitalize fw-bold"> {{ item.name }} </span><br>
                                        <small> C.C: {{ item.cedula }} </small>
                                    </div>

                                    <div class="ms-auto">
                                        <button class="btn btn-link p-1 text-success float-end" (click)="selectC(item)"> <i class="bi-arrow-90deg-right"></i></button>
                                    </div>
                                </div>

                            </li>
                        </ul>

                    </div>
                </div>
                <!-- BUSCADOR DE CLIENTES  -->

                <h4 class="text-muted">Filtros</h4>

                <div class="col-12">
                    <h6 class="text-muted">Activa ó Cancelada</h6>
                    <div class="form-check form-switch">
                        <input (change)="searchStatus(estado.checked)" class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked #estado>
                        <label class="form-check-label" for="flexSwitchCheckChecked">
                            <span *ngIf="estado.checked">Todas las facturas</span>
                            <span *ngIf="!estado.checked">Solo las canceladas</span>
                        </label>
                    </div>
                </div>

                <hr>

                <div class="form-group">
                    <h6 class="text-muted">Tipo de factura</h6>
                    <select class="form-select" aria-label="Default select example" (change)="searchInvoiceType(typeF.value)" #typeF>
                        <option value="all" selected>Todas</option>
                        <option value="facturas">Facturas</option>
                        <option value="credito">Facturas a credito</option>
                     </select>
                </div>

                <hr>

                <div class="form-group">
                    <h6 class="text-muted">Vendedores</h6>
                    <select class="form-select" aria-label="Default select example" (change)="seletV(cajeros.value)" #cajeros>
                        <option value="none" selected>Todos</option>
                        <option [value]="vendedor.uid" *ngFor="let vendedor of vendedores">{{vendedor.name}}</option>
                     </select>
                </div>

                <hr>

                <div class="form-group">
                    <h6 class="text-muted">Control</h6>
                    <div>
                        <input type="number" min="0" class="form-control" placeholder="buscar por control" (keyup.enter)="searchInvoiceControl(searchControl.value)" #searchControl>
                    </div>
                </div>

                
                <ng-container *ngIf="empresa">
                    <hr [ngClass]="{'d-none': !empresa.placa}" >
                    <div [ngClass]="{'d-none': !empresa.placa}" class="form-group">
                        <h6 class="text-muted">Placa</h6>
                        <div>
                            <input type="text" class="form-control" placeholder="buscar por placa" (keyup.enter)="buscarPlaca(searchPlaca.value)" #searchPlaca>
                        </div>
                    </div>
                </ng-container>

                <hr>

                <div class="form-group mb-3">
                    <label class="" for="">Desde</label>
                    <input type="datetime-local" class="form-control" (change)="initial.value" #initial>
                </div>

                <div class="form-group mb-3">
                    <label class="" for="">Hasta</label>
                    <input type="datetime-local" class="form-control" (change)="end.value" #end>
                </div>
                
                <button type="button" class="btn btn-outline-primary btn-sm py-auto w-100" (click)="searchForDates(initial.value, end.value)"> 
                    <i class="bi-search"></i> Buscar 
                </button>

            </div>

        </div>

        <div class="col-md-9">

            <!-- TABLE FACTURAS -->
            <div class="shadow-lg p-3 mb-5 rounded bg-white">

                <!-- CARGANDO -->
                <div *ngIf="cargando">
                    <div class="text-center p-4">
                        <div class="spinner-grow text-secondary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <small class="text-muted">cargando...</small>
                </div>
                <!-- CARGANDO -->

                <div *ngIf="!cargando">

                    <!-- BUSCADOR -->
                    <div class="d-flex justify-content-between flex-wrap">

                        <div>
                            <button type="button" class="btn btn-outline-primary btn-sm" (click)="recargar()"> <i class="bi-arrow-clockwise"></i> Recargar </button>
                            <button *ngIf="user.role === 'ADMIN'" type="button" class="ml-2 btn btn-outline-success btn-sm" (click)="exportar()"> <i class="bi-file-earmark-spreadsheet"></i> Excel </button>
                        </div>

                        <div>
                            <label for="mostrar" class="me-2">Mostrar: </label>
                            <select name="" id="" [value]="query.hasta" #mostrar (change)="limiteChange(mostrar.value)">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="250">250</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="5000">5000</option>
                                <option value="10000">10000</option>
                            </select>
                        </div>

                    </div>
                    <!-- BUSCADOR -->

                    <div class="table-responsive ">
                        <table class="table table-borderless table-striped table-hover table-sm animated fadeIn overflow-auto">
                            <thead class="border-bottom ">
                                <tr>
                                    <th class="text-muted" scope="col ">#</th>
                                    <th class="text-muted" scope="col ">Control</th>
                                    <th class="text-muted" scope="col " colspan="2">Cliente</th>
                                    <th class="text-muted" scope="col ">Cedula</th>
                                    <th class="text-muted" scope="col " colspan="2">Ticket</th>
                                    <th class="text-muted" scope="col ">Monto</th>
                                    <th class="text-muted" scope="col ">Metodo</th>
                                    <th class="text-muted" scope="col ">fecha</th>
                                    <th class="text-muted" scope="col "></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="facturas.length === 0" class="text-center ">
                                    <th colspan="10" class="py-4">
                                        <h4 class="text-muted">Sin Resultados</h4>
                                    </th>
                                </tr>

                                <ng-container *ngFor="let factura of facturas; let i=index ">

                                    <tr class="trHover" tabindex="0" data-bs-toggle="tooltip" title="Cajero: {{ factura.user?.name }}">
                                        <th>
                                            <span *ngIf="factura.electronica && !factura.send" class="text-warning"><i class="bi bi-exclamation-triangle"></i></span>
                                            <span *ngIf="!factura.cufe">{{ factura.invoice }}</span>
                                            <span *ngIf="factura.cufe">{{factura.number }} </span>

                                        </th>
                                        <th>{{ factura.control }}</th>
                                        <td colspan="2">
                                            {{ factura.client?.name || 'Consumidor Final' }}
                                            <span *ngIf="!factura.status" class="badge rounded-pill bg-danger">Cancelada</span>
                                            <span *ngIf="factura.credito && factura.status" class="badge rounded-pill bg-warning">Credito <small *ngIf="factura.apartado">- Apartado</small> </span>
                                            <span *ngIf="factura.mayor" class="badge rounded-pill bg-success">M </span>
                                        </td>
                                        <td> {{ factura.client?.cedula || '222222222222' }} </td>
                                        <td colspan="2"> {{ factura.mesa?.name }} </td>
                                        <td> {{ factura.amount | divisa }} </td>
                                        <td> {{ factura.type }} </td>
                                        <td> {{ factura.fecha | date:'medium' }} </td>
                                        <td class="text-center">
                                            <a [routerLink]="['/dashboard/factura', factura.iid]" class="btn btn-link p-1 text-primary"><i class="bi bi-box-arrow-up-right"></i></a>
                                            <a *ngIf="factura.pdf_url" [href]="factura.pdf_url" target="_blank" class="btn btn-link p-1 text-danger"><i class="bi bi-file-pdf"></i></a>
                                        </td>
                                    </tr>

                                </ng-container>

                            </tbody>
                        </table>
                    </div>

                    <!-- BTN SIGUIENTE Y ANTERIOR -->
                    <div class="row">
                        <div class="col col-md-4">

                            <small class="text-muted">Total de facturas: ({{total}})</small>
                            <small *ngIf="resultado !== 0" class="text-muted"> - (Resultados: {{ resultado }})</small>
                            <small *ngIf="desde !== 0" class="text-muted"> - (Desde el: {{ desde + 1}} Hasta el: {{ desde + facturas.length }})</small>
                            <small *ngIf="sumarMonto !== 0" class="text-muted"> - Monto: ({{sumarMonto}})</small>

                        </div>

                        <div class="col d-flex justify-content-end">
                            <button [disabled]="query.desde === 0" type="button" (click)="cambiarPagina((query.hasta * -1))" class="btn btn-sm btn-dark btnW waves-effect waves-light px-3">Anterior</button>
                            <button [disabled]="query.hasta  > facturas.length || query.hasta > total" type="button" (click)="cambiarPagina(query.hasta)" class="btn btn-sm btn-dark btnW waves-effect waves-light px-3 ms-2">Siguiente</button>
                        </div>
                    </div>
                    <!-- BTN SIGUIENTE Y ANTERIORS -->

                </div>

            </div>
            <!-- TABLE FACTURAS -->

        </div>

    </div>

</div>