<div class="container-fluid mb-5">

    <div class="my-4">

        <h5 class="text-dark">Imprimir factura</h5>
        <p>Si, la factura no se imprime automaticamente dar click en siguiente boton</p>
        <button type="button" (click)="printDiv()" class="btn btn-sm btn-outline-primary"> <i class="bi-printer"></i> Imprimir ticket</button>

    </div>

    <div *ngIf="factura" class="d-flex justify-content-center">

        <div class="card border-0 pb-4" [ngStyle]="{'width': empresa?.impresora === 58 ? '14rem' : '24rem'}" style="width: 14rem; color:black; background: white;" id="printDiv">

            <!-- EMPRESA -->
            <div class="card-body px-1 mb-2" style="border-bottom: 2px solid black;">

                <div class="d-flex justify-content-center">
                    <img *ngIf="empresa?.logo" [src]="empresa?.logo | imagen:'logo'" class="mx-auto" width="200px" alt="">
                </div>

                <h4 class="card-title mb-0 text-wrap text-center"> {{ empresa?.name }} </h4>
                <p class="text-center mb-0" *ngFor="let text of ticketHeader" style="line-height: 1rem;"> {{ text }} </p>

            </div>
            <!-- EMPRESA -->

            <!-- CLIENTE -->
            <div class="pb-2" style="border-bottom: 2px solid black;" *ngIf="factura">
                <h6 class="mb-0 text-wrap text-left">
                    CLIENTE / RAZON SOCIAL <br>
                    <small *ngIf="factura?.client" class="text-wrap fw-normal"> {{ factura?.client.name }} </small>
                    <small *ngIf="!factura?.client" class="text-wrap fw-normal"> Consumidor Final </small>
                </h6>

                <h6 class="mb-0 text-wrap text-left">
                    CC / NIT <br>
                    <small *ngIf="factura?.client" class="text-wrap fw-normal"> {{ factura?.client.cedula }} </small>
                    <small *ngIf="!factura?.client" class="text-wrap fw-normal"> 222222222222 </small>
                </h6>
                <h6 class="mb-0 text-wrap text-left">
                    TELEFONO <br>
                    <small *ngIf="factura?.client" class="text-wrap fw-normal"> {{ factura?.client.phone || '--- ------' }} </small>
                </h6>
                <h6 class="mb-0 text-wrap text-left" *ngIf="factura?.client">
                    CIUDAD <br>
                    <small *ngIf="factura?.client" class="text-wrap fw-normal"> {{ factura?.client.city || '----------' }} </small>
                </h6>
                <h6 class="mb-0 text-wrap text-left" *ngIf="factura?.client">
                    DIRECCIÓN <br>
                    <small *ngIf="factura?.client" class="text-wrap fw-normal"> {{ factura?.client.address || '----------' }} </small>
                </h6>
                
                <ng-container *ngIf="factura.placa">
                    <h6 class="mb-0 text-wrap text-left" *ngIf="factura.placa.length > 0">
                        Placa <br>
                        <small class="text-wrap fw-normal"> {{ factura.placa || '----------'}} </small>
                    </h6>
                </ng-container>
                

                <h6 class="mb-0 text-wrap text-left">
                    <p class="text-wrap fw-normal mb-0"> {{ factura?.mesa.name }} - {{ factura?.mesero.name }} </p>
                </h6>
            </div>
            <!-- CLIENTE -->

            <!-- FACTURA -->
            <div class="py-2" style="border-bottom: 2px solid black;">
                <h6 class="mb-0 text-wrap text-left">{{ empresa?.type }}: <span *ngIf="!factura?.cufe"> {{ factura?.invoice }} </span> <span *ngIf="factura?.cufe"> {{ factura?.number }} </span> </h6>
                <h6 class="mb-0 text-wrap text-left">Control: {{ factura?.control }}</h6>
                <h6 *ngIf="factura.ncomanda" class="mb-0 text-wrap text-left">Orden: #{{ factura.ncomanda | date: 'H-ms' }}</h6>
                <small class="mb-0 text-wrap text-left">Fecha: {{ factura?.fecha | date:'short' }}</small>
            </div>
            <!-- FACTURA -->

            <table class="table table-borderless table-hover table-sm" [ngClass]=" {'tabla-con-marca': factura.marca && !factura.credito}">
                <tbody style="color: black;" [ngStyle]="{'fonto-size': empresa.impresora === 80 ? '1.4rem importan!' : '1rem'}">
                    <tr *ngFor="let item of factura?.products" class="trHover" >
                        <td class="py-0" [ngStyle]="{'line-height': empresa.impresora === 80 ? '1rem importan!' : '0.8rem'}">
                            <span class="text-wrap"> {{ item.qty }} x {{item.price | divisa}} </span> <br>
                            <span class="text-wrap"> {{ item.product.name }} <strong *ngIf="item.mayor" class="fw-bolde text-black">M</strong></span>
                        </td>
                        <td class="text-end">
                            <span *ngIf="item.product.tax"> {{ item.product.taxid.valor }}% </span>
                            <span *ngIf="!item.product.tax"> 0% </span>
                        </td>
                        <td class="py-0">
                            <span *ngIf="!empresa.impuesto" class="text-wrap"> {{ item.qty * item.price | divisa }} </span>
                            <span *ngIf="empresa.impuesto" class="text-wrap"> {{ (item.qty * item.price) + ((item.qty * item.price) * (item.product.taxid?.valor/100)) | divisa }} </span>
                        </td>
                    </tr>

                    <tr class="" style="border-top: 2px solid black;">
                        <td>
                            <h6 class="mb-0 text-wrap text-left">Sub-total</h6>
                        </td>
                        <td colspan="2" class="fw-bold">
                            <h6 class="mb-0 text-wrap text-rigth" *ngIf="empresa?.impuesto"> {{ factura?.base | divisa }} </h6>
                        </td>
                    </tr>

                    <tr class="" style="border-top: 2px solid black;">
                        <td>
                            <h6 class="mb-0 text-wrap text-left">Descuento</h6>
                        </td>
                        <td colspan="2" class="fw-bold">
                            <h6 class="mb-0 text-wrap text-rigth" *ngIf="factura?.descuento"> {{ (factura?.base * factura?.porcentaje)/100 | divisa }} </h6>
                        </td>
                    </tr>

                    <!-- IMPUESTOS -->
                    <ng-container *ngIf="!empresa?.impuesto">
                        <tr class="" style="border-top: 2px solid black;">
                            <td>
                                <h6 class="mb-0 text-wrap text-left">No responsable de IVA</h6>
                            </td>
                            <td colspan="2" class="fw-bold">
                                <h6 class="mb-0 text-wrap text-rigth"> 0 </h6>
                            </td>
                        </tr>
                    </ng-container>

                    <ng-container *ngIf="empresa?.impuesto">
                        <ng-container *ngFor="let impuesto of impuestos">

                            <tr *ngIf="impuesto.total > 0" class="" style="border-top: 2px solid black;">
                                <td>
                                    <h6 class="mb-0 text-wrap text-left"> {{ impuesto.name }} </h6>

                                </td>
                                <td class="fw-bold">
                                    <h6 class="mb-0 text-wrap text-rigth"> {{ impuesto.total | divisa }} </h6>
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                    <!-- IMPUESTOS -->

                    <!-- TOTAL -->
                    <tr class="" style="border-top: 2px solid black;">
                        <td>
                            <h6 class="mb-0 text-wrap text-left">Total</h6>
                        </td>
                        <td colspan="2" class="fw-bold">
                            <h6 class="mb-0 text-wrap text-rigth"> {{ factura?.amount | divisa}} </h6>
                        </td>
                    </tr>
                    <!-- TOTAL -->

                    <tr class="" style="border-top: 2px solid black;" *ngIf="empresa?.tip">
                        <td>
                            <h6 class="mb-0 text-wrap text-left">Servicio Sugerida del {{empresa?.propina}}%</h6>
                        </td>
                        <td class="fw-bold">
                            <h6 class="mb-0 text-wrap text-rigth"> {{ factura?.tip | divisa }} </h6>
                        </td>
                    </tr>
                    <tr class="" style="border-top: 2px solid black;" *ngIf="empresa?.tip">
                        <td>
                            <h6 class="mb-0 text-wrap text-left">Total + Servicio</h6>
                        </td>
                        <td class="fw-bold">
                            <!-- <h6 class="mb-0 text-wrap text-rigth"> {{ (factura?.amount+ factura?.tip) + (factura?.amount * empresa?.tax)/100 | divisa}} </h6> -->
                            <h6 class="mb-0 text-wrap text-rigth"> {{ factura?.amount + factura?.tip | divisa }} </h6>
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="">ITEMS</th>
                        <th> {{ totalItems | number}} </th>
                    </tr>
                </tfoot>
            </table>

            <hr class="my-1">
            <div *ngIf="!factura?.apartado">

                <p class="mb-0 mx-auto "><small class="text-wrap text-center mb-0">Pago con: {{factura?.pago | divisa}} </small></p>
                <p class="mb-0 mx-auto "><small class="text-wrap text-center mb-0">Vueltos: {{factura?.vueltos | divisa}} </small></p>
            </div>
            <div *ngIf="factura?.apartado">
                <h6 class="mb-2 fw-bold">Historial de pagos</h6>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Desc</th>
                            <th scope="col">Pago</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pay of factura?.payments">
                            <td>Abono {{ pay.type }} </td>
                            <td> {{ pay.amount | divisa }} </td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Restante</th>
                            <th> {{ factura?.amount - totalPagos | divisa }} </th>
                        </tr>
                    </tfoot>
                </table>

            </div>

            <hr *ngIf="factura.cufe" class="my-1">

            <div *ngIf="factura.cufe">
                <h6 class="mb-0">cufe:</h6>
                <p class="">{{ factura.cufe }} </p>

                <div class="qrcodeImage d-flex justify-content-center">
                    <qrcode [qrdata]="'https://catalogo-vpfe.dian.gov.co/document/searchqr?documentkey='+factura.cufe" [allowEmptyString]="true" [alt]="'A custom alt attribute'" [ariaLabel]="'QR Code image with the following content...'" [cssClass]="'center'" [colorDark]="'#000'"
                        [colorLight]="'#ffffffff'" [elementType]="'img'" [errorCorrectionLevel]="'M'" [margin]="3" [scale]="1" [title]="'A custom title attribute'" [width]="200"></qrcode>
                </div>
            </div>

            <hr class="my-1">

            <h6 *ngIf="factura.nota" class="mb-0">Nota:</h6>
            <p *ngIf="factura.nota" class="">- {{ factura.nota }} </p>

            <hr *ngIf="factura.nota" class="my-1">

            <p class="text-center mb-0" *ngFor="let text of ticketfooter" style="line-height: 1rem;"> {{ text }} </p>


        </div>

    </div>

</div>