<!-- =========================================================================
    HEADER 
========================================================================= -->
<header>
    <div class="bg-header-blue py-2 px-3 mb-2">
        <h5 class="text-white m-0">Configuraciones / Compras</h5>
    </div>
    <ul class="nav nav-tabs px-3" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
            <a class="nav-link text-dark" routerLinkActive="active" routerLink="/dashboard/configuracion/compras"  id="ticket1-tab"><i class="bi-gear" style="font-size: 1rem"></i> Tablero Principal</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link text-dark" routerLinkActive="active" routerLink="/dashboard/facturas-compras" id="ticket1-tab"><i class="bi-ticket" style="font-size: 1rem"></i> Facturas de Compras</a>
        </li>

    </ul>
</header>
<!-- =========================================================================
    HEADER 
========================================================================= -->

<div class="container-fluid my-4">

    <div class="ms-auto mb-3">
        <button *ngIf="user.cerrada" (click)="abrirCaja()" type="button" class="btn btn-sm btn-success ms-auto me-2">Abrir Caja</button>
    </div>

    <div class="d-flex flex-wrap">

        <div class="col-md-8 p-0">



            <!-- AGREGAR PRODUCTOS -->
            <div class="card mb-3">

                <div class="card-body">

                    <h4>Agregar Productos</h4>

                    <div class="w-100 mb-2">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Buscar producto con codigo de barra o nombre" (keyup.enter)="searchProduct(search.value)" #search>

                            <!-- LIST PRODUCTS -->
                            <div *ngIf="listProducts.length > 0" class="shadow rounded bg-white" style="z-index: 1; position: absolute; max-height: 200px; overflow-y: auto;">
                                <div class="w-100">

                                    <p class="mb-0 text-muted pl-2"><small> resultados: {{ listProducts.length }} </small> </p>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item list-group-item-action" *ngFor="let product of listProducts">
                                            <a class="pointer" (click)="selectProduct(product)">
                                                <h5 class="mb-0"> {{ product.name }} </h5>
                                                <p *ngIf="product.code" class="mb-0 text-muted"><small> <i class="ti ti-id-badge"></i>  {{ product.code }} </small> </p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- AGREGAR ITEMS -->
                    <div class="row g-3 d-flex align-items-end">

                        <div class="col-md-6">
                            <label for="codigo" class="">Codigo</label>
                            <input #psCode readonly type="text" class="form-control" id="codigo" placeholder="Codigo">
                        </div>

                        <div class="col-md-6">
                            <label for="producto" class="">Producto</label>
                            <input #psName readonly type="text" class="form-control" id="producto" placeholder="Producto">
                        </div>

                        <div class="col-md-3">
                            <label for="costo" class="">Costo</label>
                            <input #psCost type="number" min="0" class="form-control" id="costo" placeholder="costo">
                        </div>

                        <div class="col-md-3">
                            <label for="Precio" class="">Precio</label>
                            <input #psPrice type="number" min="0" class="form-control" id="Precio" placeholder="Precio">
                        </div>

                        <div class="col-md-3">
                            <label for="mayor" class="">Precio Mayor</label>
                            <input #psWholesale type="number" min="0" class="form-control" id="mayor" placeholder="mayor">
                        </div>

                        <div class="col-md-3">
                            <label for="cantidad" class="">Cantidad</label>
                            <input #psQty type="number" min="0" class="form-control" id="cantidad" placeholder="cantidad">
                        </div>

                        <div class="col-auto">
                            <button type="button" (click)="agregarProducto(psQty.value)" class="btn btn-primary">Agregar</button>
                        </div>
                    </div>

                </div>

            </div>


            <!-- PRODUCTOS -->
            <div class="card ">

                <div class="card-body">

                    <h3 class="text-center mb-1">ITEMS</h3>
                    <div class="table-responsive" style="clear: both;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Producto</th>
                                    <th class="text-right">Precio</th>
                                    <th class="text-right">Mayor</th>
                                    <th class="text-right">Cantidad</th>
                                    <th class="text-right">Costo</th>
                                    <th class="text-right">Monto</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngIf="items.length === 0">
                                    <td colspan="7" class="text-center">Aun no has seleccionado ningun producto...</td>
                                </tr>

                                <tr *ngFor="let item of items; let i = index">
                                    <td>
                                        <button type="button" (click)="deleteProduct(i)" class="btn btn-link p-1 text-danger">
                                            <i class="text-danger bi-trash"></i>
                                        </button> #{{i+1}}
                                    </td>
                                    <td> {{ item.product.name }} <br> <small>{{ item.product!.code }}</small> </td>
                                    <td class="text-right"> {{ item.price | currency :'$' }} </td>
                                    <td class="text-right"> {{ item.wholesale || 0 | currency :'$' }} </td>
                                    <td class="text-right"> {{ item.qty }} </td>
                                    <td class="text-right"> {{ item.cost | currency :'$' }} </td>
                                    <td class="text-right"> {{ item.qty * item.cost | currency :'$' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <div class="pull-right m-t-30 text-right">
                            <h3><b>Total :</b> {{total | currency: '$'}}</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
            <!-- PRODUCTOS -->

        </div>



        <div class="col-md-4">

            <!-- PROVEEDOR -->
            <div *ngIf="proveedor" class="card card-body mb-3">

                <!-- CLIENTE -->
                <div class="col-md-12">
                    <p class="mb-0">Nombre o Razón Social</p>
                    <h5 class="box-title m-b-0"> {{ proveedor.name }} </h5>
                </div>

                <div class="d-flex flex-wrap">
                    <div class="col-md-6">
                        <p class="mb-0">CC/NIT</p>
                        <h5 class="m-b-0"> {{proveedor.cedula || '--- -----'}} </h5>
                    </div>
                    <div class="col-md-6">
                        <p class="mb-0">Telefono</p>
                        <h5 class="m-b-0"> {{proveedor.phone || '--- -----'}} </h5>
                    </div>
                </div>

                <div class="col-12">
                    <p class="mb-0">Email</p>
                    <p class="m-b-0">{{ proveedor.email || '----------' }}</p>
                </div>

                <div class="col-12">
                    <p class="mb-0">Dirección</p>
                    <p class="m-b-0"> {{ proveedor.address || 'no aplica' }} </p>
                </div>
                <!-- CLIENTE -->

            </div>

            <div class="card mb-3">
                <div class="card-body">

                    <!-- BUSCAR Y SELECCIONAR PROVEEDOR -->
                    <div class="w-100">
                        
                        <div class="form-group mb-0">
                            <div class="d-flex flex-wrap justify-content-between align-items-end pb-3">
                                <label for="searchC">Buscar Proveedor</label>
                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#nuevoProveedor">
                                    <i class="bi bi-plus"></i>
                                </button>
                                
                            </div>
                            <input id="searchC" type="text" class="form-control" placeholder="Buscar Proveedor" (keyup)="searchProveedor(searchP.value)" #searchP>
                        </div>

                        <div *ngIf="listProveedores.length > 0" class="shadow rounded bg-white" style="z-index: 1; position: absolute; max-height: 200px; overflow-y: auto;">
                            <div class="w-100">

                                <p class="mb-0 text-muted pl-2"><small> resultados: {{ listProveedores.length }} </small> </p>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item list-group-item-action" *ngFor="let proveedor of listProveedores">
                                        <a class="pointer" (click)="selectProveedor(proveedor)">
                                            <h5 class="mb-0"> {{ proveedor.name }} </h5>
                                            <p *ngIf="proveedor.cedula" class="mb-0 text-muted"><small> <i class="ti ti-id-badge"></i>  {{ proveedor.cedula }} </small> </p>
                                            <p *ngIf="proveedor.email" class="mb-0 text-muted"><small> <i class="ti ti-email"></i> {{ proveedor.email }} </small> </p>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!-- BUSCAR Y SELECCIONAR CLIENTE -->

                </div>
            </div>

            <!-- METODOS DE PAGO Y CREDITO -->
             <div class="card">
                <div class="card-body">

                    <h3 class="mb-2">Metodo de pago</h3>

                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="iCredito" #icredito>
                        <label class="form-check-label" for="iCredito">
                          Credito
                        </label>
                    </div>

                    
                    <div class="form-group">
                        <label for="typeP" class="">Metodo de pago</label>
                        <select class="form-select" aria-label="typeP" #typeP>
                            <option value="efectivo">Efectivo</option>
                            <option *ngFor="let banco of bancos" [value]="banco.name"> {{ banco.name }} </option>
                          </select>
                    </div>

                    <div class="form-group">
                        <label for="descripcion" class="">Descripción</label>
                        <input type="text" class="form-control" id="descripcion" placeholder="Descripción" #nDescripcion>
                    </div>

                    <div class="form-group">
                        <label for="nMonto" class="">Monto</label>
                        <input type="number" class="form-control" id="nMonto" placeholder="Monto" #nMonto>
                    </div>

                    <div class="form-group">
                        <button type="button" (click)="addPay(typeP.value, nMonto.value, nDescripcion.value)" class="btn btn-primary">Agregar</button>
                    </div>

                    <hr *ngIf="payments.length > 0">

                    <div *ngIf="payments.length > 0">

                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Metodo</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Monto</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let paid of payments; let i = index">
                                        <td> {{paid.type}} </td>
                                        <td>{{paid.description}}</td>
                                        <td>{{paid.amount | currency: '$'}}</td>
                                        <td> 
                                            <button (click)="delPaid(i)" type="button" class="btn btn-link p-1 text-danger">
                                                <i class="bi bi-trash"></i>
                                            </button> 
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="2">TOTAL</th>
                                        <th> {{ totalPayments | currency: '$' }} </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        

                    </div>

                </div>
             </div>

            <div class="card">
                <div class="card-body">

                    <!-- CREAR FACTURA -->
                    <div>
                        <button (click)="createInvoice()" [disabled]="items.length === 0 " type="button" class="btn btn-success w-100">Guardar Factura</button>
                    </div>

                </div>
            </div>

        </div>


    </div>

</div>

<!-- =========================================================================
    NUEVO PROVEEDOR
========================================================================= -->
<div class="modal fade" id="nuevoProveedor" tabindex="-1" aria-labelledby="nuevoProveedorModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nuevoProveedorModal"><i class="bi-person-plus" style="font-size: 2rem"></i> Nuevo Proveedor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <form id="newProveedorForm" autocomplete="off" [formGroup]="newProveedorForm" (ngSubmit)="crearProveedor()">

                    <!-- =======================================================================
                        DATOS PROVEEDOR 
                    =========================================================================== -->
                    <h5 class="text-muted">Datos Del Proveedor</h5>

                    <div class="row mb-3">
                        <div class="col-md-6 px-md-1">

                            <div class="form-floating">
                                <input formControlName="name" type="text" class="form-control text-capitalize" placeholder="Nombres">
                                <label for="floatingInput">Nombres</label>
                            </div>

                        </div>
                        <div class="col-md-6 px-md-1 ">

                            <div class="form-floating">
                                <input formControlName="cedula" type="text" class="form-control" placeholder="Cedula de ciudadania">
                                <label for="floatingInput">Cedula de ciudadania</label>
                            </div>

                        </div>
                    </div>

                    <div class="row mb-3">

                        <div class="col-md-6 px-md-1">

                            <div class="form-floating">
                                <input formControlName="email" type="email" class="form-control" placeholder="Email">
                                <label for="floatingInput">Email</label>
                            </div>

                        </div>
                        <div class="col-md-6 px-md-1">

                            <div class="form-floating">
                                <input formControlName="phone" type="text" class="form-control" placeholder="Telefono">
                                <label for="floatingInput">Telefono</label>
                            </div>

                        </div>
                    </div>

                    <!-- =======================================================================
                        DIRECCION
                    =========================================================================== -->
                    <h5 class="text-muted">DIRECCIÓN</h5>

                    <div class="row mb-3">

                        <div class="col-md-12 px-md-1">

                            <div class="form-floating">
                                <input formControlName="address" type="text" class="form-control" placeholder="Dirección">
                                <label for="floatingInput">Dirección</label>
                            </div>
                        </div>


                    </div>

                    <div class="row mb-3">

                        <div class="col-md-5 px-md-1">

                            <div class="form-floating">
                                <input formControlName="department" type="text" class="form-control" placeholder="Departamento">
                                <label for="floatingInput">Departamento</label>
                            </div>

                        </div>

                        <div class="col-md-5 px-md-1">

                            <div class="form-floating">
                                <input formControlName="city" type="text" class="form-control" placeholder="Ciudad">
                                <label for="floatingInput">Ciudad</label>
                            </div>

                        </div>

                        <div class="col-md-2 px-md-1">

                            <div class="form-floating">
                                <input formControlName="zip" type="text" class="form-control" placeholder="ZIP">
                                <label for="floatingInput">ZIP</label>
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="text-danger mb-2">
                            <p *ngIf="campoValido('name')" class="mb-1 animated fadeIn">- El nombre es obligatorio</p>
                            <p *ngIf="campoValido('cedula')" class="mb-1 animated fadeIn">-El NIT o La cedula de ciudadania es obligatoria</p>

                        </div>
                    </div>


                    <button type="submit" class="btn btnW waves-effect waves-ligth px-3 btn-primary">Guardar</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>