<!-- =========================================================================
    HEADER 
========================================================================= -->
<header>
    <div class="bg-header-dark py-2 px-3 mb-2">
        <h5 class="text-white m-0">PROVEEDORES</h5>
    </div>
    <ul class="nav nav-tabs px-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="bi-people" style="font-size: 1rem"></i> Administración de proveedores </a>
        </li>
    </ul>
</header>
<!-- =========================================================================
    HEADER 
========================================================================= -->

<!-- =========================================================================
    BODY 
========================================================================= -->
<div class="tab-content mt-4 bg-light2" id="myTabContent">

    <!-- TAB 1 -->
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="px-3">
            <!-- TITLE - SUBTITLE -->
            <div>
                <h5 class="text-dark">ADMINISTRACIÓN DE PROVEEDORES</h5>
                <p>Administra todos los proveedores de tu negocio de forma centralizada.</p>
            </div>
            <!-- TITLE - SUBTITLE -->

            <!-- TABLE CLIENTS -->
            <div class="shadow-lg p-3 mb-5 rounded bg-white">

                <!-- CARGANDO -->
                <div *ngIf="cargando">
                    <div class="text-center p-4">
                        <div class="spinner-grow text-secondary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <small class="text-muted">cargando...</small>
                </div>
                <!-- CARGANDO -->

                <div *ngIf="!cargando">

                    <div>
                        <div class="form-floating mb-2">
                            <span class="position-absolute top-50 start-90 translate-middle"><i class=" bi-search " style="font-size: 1rem "></i></span>
                            <input type="text" class="form-control" id="floatingInput" placeholder="Buscar Cliente" (keyup)="buscar(search.value)" #search>
                            <label for="floatingInput ">Buscar Proveedor</label>
                        </div>
                    </div>

                    <!-- BTN CREAR PROVEEDOR -->
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-sm btn-primary btnW waves-effect waves-ligth" data-bs-toggle="modal" data-bs-target="#nuevoProveedor">Crear Proveedor</button>
                    </div>
                    <!-- BTN CREAR PROVEEDOR -->

                    <div class="my-2">

                        <label for="mostrar" class="me-2">Mostrar: </label>
                        <select name="" id="" [value]="query.hasta" #mostrar (change)="limiteChange(mostrar.value)">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="250">250</option>
                            <option value="500">500</option>
                        </select>

                    </div>


                    <div class="table-responsive ">
                        <table class="table table-borderless table-striped table-hover table-sm animated fadeIn ">
                            <thead class="border-bottom ">
                                <tr>
                                    <th class="text-muted " scope="col " colspan="2 ">Nombres</th>
                                    <th class="text-muted " scope="col ">Cedula</th>
                                    <th class="text-muted " scope="col ">Email</th>
                                    <th class="text-muted " scope="col ">Telefono</th>
                                    <th class="text-muted " scope="col ">Dirección</th>
                                    <th class="text-muted " scope="col ">Departamento</th>
                                    <th class="text-muted " scope="col ">Codigo Postal</th>
                                    <th class="text-muted w100 " scope="col ">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="proveedores.length === 0" class="text-center ">
                                    <th colspan="10" class="py-4">
                                        <h4 class="text-muted">Sin Resultados</h4>
                                    </th>
                                </tr>
                                <tr class="trHover" *ngFor="let proveedor of proveedores; let i=index ">
                                    <td colspan="2">{{ proveedor.name }}</td>
                                    <td>{{ proveedor.cedula }}</td>
                                    <td>{{ proveedor.email }}</td>
                                    <td>{{ proveedor.phone }}</td>
                                    <td>{{ proveedor.address }}</td>
                                    <td>{{ proveedor.department }} <span *ngIf="proveedor.city || proveedor.department">-</span> {{ proveedor.city }}</td>
                                    <td>{{ proveedor.zip }}</td>
                                    <td class="text-center">

                                        <button type="button" (click)="selectedProovedor(proveedor)" class="btn btn-link p-1 text-primary" data-bs-toggle="modal" data-bs-target="#actualizarProveedor"><i class="bi-pen" style="font-size: 0.9rem"></i></button>

                                    </td>
                                </tr>
                            </tbody>

                        </table>

                    </div>

                    <!-- BTN SIGUIENTE Y ANTERIOR -->
                    <div class="row">
                        <div class="col col-md-4">
                            <small class="text-muted">Total de proveedores: ({{totalProveedores}})</small>
                            <small *ngIf="desde !== 0" class="text-muted"> - (Desde el: {{ query.desde + 1}} Hasta el: {{ query.desde + proveedores.length }})</small>
                        </div>

                        <div *ngIf="search.value.length === 0" class="col d-flex justify-content-end">
                            <button type="button" [disabled]="query.desde === 0" (click)="cambiarPagina(query.hasta * -1)" class="btn btn-sm btn-dark btnW waves-effect waves-light px-3">Anterior</button>
                            <button type="button" [disabled]="( query.desde + query.hasta ) >= totalProveedores" (click)="cambiarPagina(query.hasta)" class=" btn btn-sm btn-dark btnW waves-effect waves-light px-3 ms-2">Siguiente</button>
                        </div>
                    </div>
                    <!-- BTN SIGUIENTE Y ANTERIOR -->

                </div>
            </div>
            <!-- TABLE CLIENTS -->



        </div>
    </div>
    <!-- TAB 1 -->

</div>
<!-- =========================================================================
    BODY 
========================================================================= -->

<!-- =========================================================================
    NUEVO PROVEEDOR
========================================================================= -->
<div class="modal fade" id="nuevoProveedor" tabindex="-1" aria-labelledby="nuevoProveedorModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nuevoProveedorModal"><i class="bi-person-plus" style="font-size: 2rem"></i> Nuevo Proveedor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <form id="newProveedorForm" autocomplete="off" [formGroup]="newProveedorForm" (ngSubmit)="crearProveedor()">

                    <!-- =======================================================================
                        DATOS PROVEEDOR 
                    =========================================================================== -->
                    <h5 class="text-muted">Datos Del Proveedor</h5>

                    <div class="row mb-3">
                        <div class="col-md-6 px-md-1">

                            <div class="form-floating">
                                <input formControlName="name" type="text" class="form-control text-capitalize" placeholder="Nombres">
                                <label for="floatingInput">Nombres</label>
                            </div>

                        </div>
                        <div class="col-md-6 px-md-1 ">

                            <div class="form-floating">
                                <input formControlName="cedula" type="text" class="form-control" placeholder="Cedula de ciudadania">
                                <label for="floatingInput">Cedula de ciudadania</label>
                            </div>

                        </div>
                    </div>

                    <div class="row mb-3">

                        <div class="col-md-6 px-md-1">

                            <div class="form-floating">
                                <input formControlName="email" type="email" class="form-control" placeholder="Email">
                                <label for="floatingInput">Email</label>
                            </div>

                        </div>
                        <div class="col-md-6 px-md-1">

                            <div class="form-floating">
                                <input formControlName="phone" type="text" class="form-control" placeholder="Telefono">
                                <label for="floatingInput">Telefono</label>
                            </div>

                        </div>
                    </div>

                    <!-- =======================================================================
                        DIRECCION
                    =========================================================================== -->
                    <h5 class="text-muted">DIRECCIÓN</h5>

                    <div class="row mb-3">

                        <div class="col-md-12 px-md-1">

                            <div class="form-floating">
                                <input formControlName="address" type="text" class="form-control" placeholder="Dirección">
                                <label for="floatingInput">Dirección</label>
                            </div>
                        </div>


                    </div>

                    <div class="row mb-3">

                        <div class="col-md-5 px-md-1">

                            <div class="form-floating">
                                <input formControlName="department" type="text" class="form-control" placeholder="Departamento">
                                <label for="floatingInput">Departamento</label>
                            </div>

                        </div>

                        <div class="col-md-5 px-md-1">

                            <div class="form-floating">
                                <input formControlName="city" type="text" class="form-control" placeholder="Ciudad">
                                <label for="floatingInput">Ciudad</label>
                            </div>

                        </div>

                        <div class="col-md-2 px-md-1">

                            <div class="form-floating">
                                <input formControlName="zip" type="text" class="form-control" placeholder="ZIP">
                                <label for="floatingInput">ZIP</label>
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="text-danger mb-2">
                            <p *ngIf="campoValido('name')" class="mb-1 animated fadeIn">- El nombre es obligatorio</p>
                            <p *ngIf="campoValido('cedula')" class="mb-1 animated fadeIn">-El NIT o La cedula de ciudadania es obligatoria</p>

                        </div>
                    </div>


                    <button type="submit" class="btn btnW waves-effect waves-ligth px-3 btn-primary">Guardar</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- =========================================================================
    ACTUALIZR PROVEEDOR
========================================================================= -->
<div class="modal fade" id="actualizarProveedor" tabindex="-1" aria-labelledby="actualizarProveedorModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="actualizarProveedorModal"><i class="bi-person-plus" style="font-size: 2rem"></i> Actualizar Proveedor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <form id="newProveedorForm" autocomplete="off" [formGroup]="updateForm" (ngSubmit)="update()">

                    <!-- =======================================================================
                        DATOS PROVEEDOR 
                    =========================================================================== -->
                    <h5 class="text-muted">Datos Del Proveedor</h5>

                    <div class="row mb-3">
                        <div class="col-md-6 px-md-1">

                            <div class="form-floating">
                                <input formControlName="name" type="text" class="form-control text-capitalize" placeholder="Nombres">
                                <label for="floatingInput">Nombres</label>
                            </div>

                        </div>
                        <div class="col-md-6 px-md-1 ">

                            <div class="form-floating">
                                <input formControlName="cedula" type="text" class="form-control" placeholder="Cedula de ciudadania">
                                <label for="floatingInput">Cedula de ciudadania</label>
                            </div>

                        </div>
                    </div>

                    <div class="row mb-3">

                        <div class="col-md-6 px-md-1">

                            <div class="form-floating">
                                <input formControlName="email" type="email" class="form-control" placeholder="Email">
                                <label for="floatingInput">Email</label>
                            </div>

                        </div>
                        <div class="col-md-6 px-md-1">

                            <div class="form-floating">
                                <input formControlName="phone" type="text" class="form-control" placeholder="Telefono">
                                <label for="floatingInput">Telefono</label>
                            </div>

                        </div>
                    </div>

                    <!-- =======================================================================
                        DIRECCION
                    =========================================================================== -->
                    <h5 class="text-muted">DIRECCIÓN</h5>

                    <div class="row mb-3">

                        <div class="col-md-12 px-md-1">

                            <div class="form-floating">
                                <input formControlName="address" type="text" class="form-control" placeholder="Dirección">
                                <label for="floatingInput">Dirección</label>
                            </div>
                        </div>


                    </div>

                    <div class="row mb-3">

                        <div class="col-md-5 px-md-1">

                            <div class="form-floating">
                                <input formControlName="department" type="text" class="form-control" placeholder="Departamento">
                                <label for="floatingInput">Departamento</label>
                            </div>

                        </div>

                        <div class="col-md-5 px-md-1">

                            <div class="form-floating">
                                <input formControlName="city" type="text" class="form-control" placeholder="Ciudad">
                                <label for="floatingInput">Ciudad</label>
                            </div>

                        </div>

                        <div class="col-md-2 px-md-1">

                            <div class="form-floating">
                                <input formControlName="zip" type="text" class="form-control" placeholder="ZIP">
                                <label for="floatingInput">ZIP</label>
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="text-danger mb-2">
                            <p *ngIf="campoValido('name')" class="mb-1 animated fadeIn">- El nombre es obligatorio</p>
                            <p *ngIf="campoValido('cedula')" class="mb-1 animated fadeIn">-El NIT o La CC es obligatoria</p>

                        </div>
                    </div>


                    <button type="submit" class="btn btnW waves-effect waves-ligth px-3 btn-primary">Guardar</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>