<!-- =========================================================================
    HEADER 
========================================================================= -->

<header>
    <div class="bg-header-blue py-2 px-3 mb-2">
        <h5 class="text-white m-0">Facturas</h5>
    </div>

    <ul class="nav nav-tabs px-3" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
            <a class="nav-link text-dark active" id="facturas-tab"><i class="bi-journal-check" style="font-size: 1rem"></i> Información del prestamo</a>
        </li>

    </ul>

</header>

<!-- =========================================================================
    HEADER 
========================================================================= -->

<div class="container-fluid">

    <!-- BOTONES -->
    <div>

        <button type="button" class="btn btn-outline-dark btn-sm mx-1 my-2" routerLink="/dashboard/configuracion/prestamos"> 
            <i class="bi-arrow-counterclockwise"></i> Regresar a prestamos
        </button>
        <button *ngIf="prestamo" type="button" [disabled]="prestamo.completo || prestamo.status === false" class="btn btn-primary btn-sm mx-1 my-2" data-bs-toggle="modal" data-bs-target="#addPago"> 
            Cobrar
        </button>

        <button *ngIf="prestamo" type="button" (click)="deletePrestamo(prestamo)" class="btn btn-sm mx-1 my-2" [ngClass]="{'btn-danger': prestamo.status, 'btn-success': !prestamo.status}"> 
            <span *ngIf="prestamo.status" >Eliminar</span>
            <span *ngIf="!prestamo.status" >Activar</span>
            
        </button>

    </div>
    <!-- BOTONES -->

    <!-- DETALLES DEL PRESTAMO -->

    <div class="card border-top-0 border-bottom-0 border-end-0 border-left-lg border-dark h-100 bg-white" *ngIf="prestamo">
        <div class="card-body">
            <div class="d-flex align-items-center flex-wrap">
                <div class="flex-grow-1">


                    <div *ngIf="!prestamo.status" class="h5 text-danger"> ELIMINADO
                        <hr>
                    </div>

                    <div *ngIf="prestamo.completo && prestamo.status" class="h5 text-success"> PAGADO
                        <hr>
                    </div>

                    <div class="small font-weight-bold text-muted mb-1"> Creado: {{ prestamo.fecha | date:'medium' }} </div>
                    <div class="h5" [ngClass]="{'text-success': hoy < prestamo.vence, 'text-danger': hoy > prestamo.vence }">Vence: {{ prestamo.vence | date:'medium' }} </div>
                    <div class="small font-weight-bold text-muted mb-1">
                        Frecuencia: {{ prestamo.frecuencia }} dia<span *ngIf="prestamo.frecuencia > 1">s</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DETALLES DEL PRESTAMO -->

    <!-- TARJETAS -->
    <div class="d-flex flex-wrap gap-3 mt-2" *ngIf="prestamo">

        <div class="mb-4">
            <!-- Dashboard info widget 1-->
            <div class="card border-top-0 border-bottom-0 border-end-0 border-left-lg border-success h-100 bg-white">
                <div class="card-body">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="flex-grow-1">
                            <div class="small font-weight-bold text-success mb-1">Prestamo</div>
                            <div class="h5"> {{ prestamo.monto | currency }} </div>
                        </div>
                        <div class="ms-2">
                            <i class="bi bi-cash text-muted" style="font-size: 1.5rem;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-4">
            <!-- Dashboard info widget 1-->
            <div class="card border-top-0 border-bottom-0 border-end-0 border-left-lg border-primary h-100 bg-white">
                <div class="card-body">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="flex-grow-1">
                            <div class="small font-weight-bold text-primary mb-1">Porcentaje</div>
                            <div class="h5"> {{ prestamo.porcentaje }}% </div>
                        </div>
                        <div class="ms-2">
                            <i class="bi bi-percent text-muted" style="font-size: 1.5rem;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-4">
            <!-- Dashboard info widget 1-->
            <div class="card border-top-0 border-bottom-0 border-end-0 border-left-lg border-warning h-100 bg-white">
                <div class="card-body">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="flex-grow-1">
                            <div class="small font-weight-bold text-warning mb-1">Intereses</div>
                            <div class="h5"> {{ (prestamo.monto * prestamo.porcentaje )/ 100 | currency }} </div>
                        </div>
                        <div class="ms-2">
                            <i class="bi bi-cash text-muted" style="font-size: 1.5rem;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-4">
            <!-- Dashboard info widget 1-->
            <div class="card border-top-0 border-bottom-0 border-end-0 border-left-lg border-dark h-100 bg-white">
                <div class="card-body">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="flex-grow-1">
                            <div class="small font-weight-bold text-dark mb-1">Total Abonado</div>
                            <div class="h5"> {{ totalAbonado | currency }} </div>
                        </div>
                        <div class="ms-2">
                            <i class="bi bi-cash text-muted" style="font-size: 1.5rem;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-4">
            <!-- Dashboard info widget 1-->
            <div class="card border-top-0 border-bottom-0 border-end-0 border-left-lg border-info h-100 bg-white">
                <div class="card-body">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="flex-grow-1">
                            <div class="small font-weight-bold text-info mb-1">Total Intereses</div>
                            <div class="h5"> {{ totalInteres | currency }} </div>
                        </div>
                        <div class="ms-2">
                            <i class="bi bi-cash text-muted" style="font-size: 1.5rem;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- TARJETAS -->




    <!-- INFORMACION -->
    <div class="row" *ngIf="prestamo">

        <!-- INFORMACION DEL PAGOS -->
        <div class="col-md-8 shadow-lg p-3 mb-5 rounded bg-white">

            <h3 class="mb-0">Historial de pagos</h3>

            <div class="table-responsive">
                <table class="table table-borderless table-striped table-hover table-sm animated fadeIn ">
                    <thead class="border-bottom ">
                        <tr>
                            <th class="text-muted" scope="col ">Fecha</th>
                            <th class="text-muted" scope="col ">Metodo</th>
                            <th class="text-muted" scope="col ">Descripción</th>
                            <th class="text-muted" scope="col ">Tipo</th>
                            <th class="text-muted" scope="col ">Monto</th>
                            <th class="text-muted" scope="col "></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngIf="prestamo.payments.length == 0 " class="text-center ">
                            <th colspan="6" class="py-4">
                                <h4 class="text-muted">No se ha registrado ningun abono</h4>
                            </th>
                        </tr>

                        <tr class="trHover" *ngFor="let pago of prestamo.payments; let i = index">
                            <td>{{ pago.fecha | date: 'short' }}</td>
                            <td>{{ pago.metodo }}</td>
                            <td>{{ pago.description }}</td>
                            <td>{{ pago.type }}</td>
                            <td>{{ pago.amount | currency}}</td>
                            <td class="text-center">
                                <button (click)="deletePay(i)" type="button" class="btn btn-link p-1 text-danger">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>

        </div>

        <!-- INFORMACION DEL CLIENTE -->
        <div class="col-md-4">

            <!-- TABLE PAGOS-->
            <div class="shadow-lg p-3 mb-5 rounded bg-white" style="max-height: 400px; height: auto;" *ngIf="prestamo.client">
                <h5 class="">
                    Información Del Cliente:
                </h5>

                <h3 class="mb-0"> <i class="bi bi-person"></i> {{ prestamo.client.name }} </h3>
                <p class="mb-0"> <i class="bi bi-phone"></i> {{ prestamo.client.phone }} </p>
                <p class="mb-0"> <i class="bi bi-house"></i> {{ prestamo.client.address }} </p>
                <p class="mb-0"> <i class="bi bi-geo-alt"></i> {{ prestamo.client.city }} </p>

            </div>
            <!-- TABLE PAGOS-->

        </div>
        <!-- INFORMACION DEL CLIENTE -->

    </div>
    <!-- INFORMACION -->

</div>

<!-- =========================================================================
    MODAL EDITAR CONTROL
========================================================================= -->
<div class="modal fade" id="addPago" tabindex="-1" aria-labelledby="addPagoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Pago</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">

                <div class="container-fluid my-4">
                    <form [formGroup]="addPagoForm" (ngSubmit)="addPago()">

                        <div class="mb-3">
                            <label for="type" class="form-label">Tipo de pago</label>
                            <select formControlName="type" class="form-select" id="type" aria-label="Default select example">
                                <option value="abono">Abono</option>
                                <option value="interes">Interes</option>
                            </select>
                            <small *ngIf="validatePay('type')">**Solo numeros</small>
                        </div>

                        <div class="mb-3">
                            <label for="metodo" class="form-label">Metodo de pago</label>
                            <select formControlName="metodo" class="form-select" id="metodo" aria-label="Default select example">
                                <option value="efectivo">Efectivo</option>
                                <option value="tarjeta">Tarjeta</option>
                                <ng-container *ngIf="bancos.length > 0">
                                    <option *ngFor="let banco of bancos" [value]="banco.name"> {{ banco.name }} </option>
                                </ng-container>                            
                            </select>
                            <small *ngIf="validatePay('metodo')">**Solo numeros</small>
                        </div>

                        <div class="mb-3">
                            <label for="monto" class="form-label">Monto</label>
                            <input formControlName="amount" type="number" class="form-control" id="monto" #newControl>
                            <small *ngIf="validatePay('amount')">**Solo numeros</small>
                        </div>

                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripción</label>
                            <textarea formControlName="description" class="form-control" id="descripcion" rows="3"></textarea>
                        </div>

                        <button type="submited" class="btn btn-primary">Guardar</button>
                    </form>
                </div>

            </div>
            <div class="modal-footer">

                <button type="button" [disabled]="formSubmittedPago" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- =========================================================================
    MODAL EDITAR CONTROL 
========================================================================= -->