<!-- =========================================================================
    HEADER 
========================================================================= -->
<header>
    <div class="bg-header-blue py-2 px-3 mb-2">
        <h5 class="text-white m-0">Configuraciones / Bancos</h5>
    </div>
    <ul class="nav nav-tabs px-3" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
            <a class="nav-link text-dark active" id="ticket1-tab"><i class="bi-gear" style="font-size: 1rem"></i> Tablero Principal</a>
        </li>

    </ul>
</header>
<!-- =========================================================================
    HEADER 
========================================================================= -->

<div class="container-fluid my-4">

    <!-- TABLE BANCOS -->
    <div class="shadow-lg p-3 mb-5 rounded bg-white">

        <!-- CARGANDO -->
        <div *ngIf="cargando">
            <div class="text-center p-4">
                <div class="spinner-grow text-secondary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <small class="text-muted">cargando...</small>
        </div>
        <!-- CARGANDO -->

        <div *ngIf="!cargando">

            <!-- BTN CREAR IMPUESTO -->
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-sm btn-primary btnW waves-effect waves-ligth" data-bs-toggle="modal" data-bs-target="#nuevoBanco">Crear</button>
            </div>
            <!-- BTN CREAR IMPUESTO -->

            <div class="table-responsive ">
                <table class="table table-borderless table-striped table-hover table-sm animated fadeIn ">
                    <thead class="border-bottom ">
                        <tr>
                            <th class="text-muted " scope="col ">Nombre</th>
                            <th class="text-muted " scope="col ">Estado</th>
                            <th class="text-muted w100 " scope="col ">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!sinResultados" class="text-center ">
                            <th colspan="10" class="py-4">
                                <h4 class="text-muted">Sin Resultados</h4>
                            </th>
                        </tr>

                        <tr class="trHover" *ngFor="let banco of listaBancos; let i = index">
                            <td>{{ banco.name }}</td>
                            <td>
                                <button *ngIf="banco.status" (click)="statusUpdate(banco.baid)" type="button" class="btn btnW waves-effect waves-ligth btn-success btn-sm">Activo</button>
                                <button *ngIf="!banco.status" (click)="statusUpdate(banco.baid)" type="button" class="btn btnW waves-effect waves-ligth btn-danger btn-sm">Desactivo</button>
                            </td>
                            <td class="text-center">
                                <button (click)="selectBanco(banco)" type="button" class="btn btn-link p-1 text-primary" data-bs-toggle="modal" data-bs-target="#editarBanco">
                                    <i class="bi bi-box-arrow-up-right"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>

            <!-- BTN SIGUIENTE Y ANTERIOR -->
            <div class="row">
                <div class="col col-md-4">
                    <small class="text-muted">Total de Bancos: ({{totalImpuesto}})</small>
                    <small *ngIf="resultado !== 0" class="text-muted"> - (Resultados: {{ resultado }})</small>
                    <small *ngIf="desde !== 0" class="text-muted"> - (Desde el: {{ desde + 1}} Hasta el: {{ desde + listaImpuesto.length }})</small>
                </div>
            </div>
            <!-- BTN SIGUIENTE Y ANTERIOR -->

        </div>
    </div>
    <!-- TABLE BANCOS -->


</div>

<!-- =========================================================================
    NUEVA BANCO 
========================================================================= -->
<div class="modal fade" id="nuevoBanco" tabindex="-1" aria-labelledby="nuevoBancoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nuevoBancoModal"><i class="bi-collection" style="font-size: 1rem"></i> Crear Banco Nuevo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <form autocomplete="off" [formGroup]="newBancoForm" (ngSubmit)="crearBanco()">

                    <!-- =======================================================================
                        Informacion del BANCO
                    =========================================================================== -->
                    <h5 class="text-muted">Informaciòn</h5>


                    <div class="row mb-2">

                        <div class="col-md-12 px-md-1">
                            <label for="">Nombre</label>
                            <div class="form-floating">
                                <input formControlName="name" type="text" class="form-control text-capitalize" placeholder="Numero del banco">
                                <label for="floatingInput">Nombre</label>
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="text-danger mb-2">
                            <p *ngIf="campoValido('name')" class="mb-1 animated fadeIn">- El nombre del impuesto es obligatorio</p>
                        </div>
                    </div>


                    <button type="submit" class="btn btnW waves-effect waves-ligth px-3 btn-primary">crear</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- =========================================================================
    NUEVA BANCO 
========================================================================= -->

<!-- =========================================================================
    EDITAR BANCO
========================================================================= -->
<div class="modal fade" id="editarBanco" tabindex="-1" aria-labelledby="editarBancoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarBancoModal"><i class="bi-collection" style="font-size: 1rem"></i> Actualizar Banco</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <form autocomplete="off" [formGroup]="editBancoForm" (ngSubmit)="editarBanco()">

                    <!-- =======================================================================
                        Informacion del BANCO
                    =========================================================================== -->
                    <h5 class="text-muted">Informaciòn</h5>


                    <div class="row mb-2">

                        <div class="col-md-12 px-md-1">
                            <label for="">Nombre</label>
                            <div class="form-floating">
                                <input formControlName="name" type="text" class="form-control text-capitalize" placeholder="Numero del Banco">
                                <label for="floatingInput">Nombre</label>
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="text-danger mb-2">
                            <p *ngIf="campoValidoEdit('name')" class="mb-1 animated fadeIn">- El nombre del impuesto es obligatorio</p>
                        </div>
                    </div>


                    <button type="submit" class="btn btnW waves-effect waves-ligth px-3 btn-primary">actualizar</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- =========================================================================
    EDITAR BANCO
========================================================================= -->