<!-- =========================================================================
    HEADER 
========================================================================= -->
<header>
    <div class="bg-header-yellow py-2 px-3 mb-2">
        <h5 class="text-white m-0">PRODUCTOS</h5>
    </div>
    <ul class="nav nav-tabs px-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link text-dark" id="administracion-tab" [routerLink]="['/dashboard', 'productos']">
                <i class="bi-files" style="font-size: 1rem"></i> Administracion de Productos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary" id="nuevo-tab" [routerLink]="['/dashboard/productos', 'nuevo']"><i class="bi-pencil-square" style="font-size: 1rem"></i> Crear Producto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark " id="departamentos-tab" [routerLink]="['/dashboard/productos', 'departamento']"><i class="bi-collection" style="font-size: 1rem"></i> Departamentos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="departamentos-tab" [routerLink]="['/dashboard/productos', 'categorias']" aria-selected="false"><i class="bi-collection" style="font-size: 1rem"></i> Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark active" id="departamentos-tab" [routerLink]="['/dashboard/productos', 'movimientos']" aria-selected="false"><i class="bi-collection" style="font-size: 1rem"></i> Movimientos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="departamentos-tab" [routerLink]="['/dashboard/productos', 'kardex']" aria-selected="false"><i class="bi-collection" style="font-size: 1rem"></i> kardex</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="eliminados-tab" [routerLink]="['/dashboard/productos', 'eliminados']" aria-selected="false"><i class="bi-trash" style="font-size: 1rem"></i> Eliminados</a>
        </li>
    </ul>
</header>
<!-- =========================================================================
    HEADER 
========================================================================= -->
<!-- =========================================================================
    BODY 
========================================================================= -->
<div class="container-fluid my-4">

    <div class="col-12">

        <div class="d-flex flex-wrap gap-2">

            <div class="col-xl-3 col-md-3 mb-4">
                <!-- Dashboard info widget 1-->
                <div class="card border-top-0 border-bottom-0 border-end-0 border-left-lg border-primary h-100 bg-white">
                    <div class="card-body">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="flex-grow-1">
                                <div class="small font-weight-bold text-primary mb-1">Ingresos</div>
                                <div class="h5">({{monto | currency: 'COP'}})</div>
                                <div class="text-xs font-weight-bold text-success d-inline-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up mr-1"><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg>
                                </div>
                            </div>
                            <div class="ms-2">
                                <i class="bi bi-receipt text-muted" style="font-size: 1.5rem;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="row mb-5">

        <!-- FILTRO -->
        <div class="col-12 col-md-3 col-xl-3 mt-2">
            <div class="p-3 rounded bg-white">

                <h4 class="mb-0 text-muted">Filtros</h4>

                <hr>

                <!-- DEPARTAMENTOS -->
                <div>
                    <h6 class="text-muted">Departamentos</h6>
                    <select class="form-select" aria-label="Default select example" (change)="searchDepartment(departament.value)" #departament>
                        <option value="all" selected>Seleccionar departamento</option>
                        <ng-container *ngFor="let departmento of departamentos">
                            <option *ngIf="departmento.status" value="{{departmento.name}}">{{departmento.name}}</option>
                        </ng-container>
                    </select>
                </div>
                <!-- DEPARTAMENTOS -->

                <!-- DESDE -->
                <div class="mt-4">
                    <label class="" for="">Desde</label>
                    <input type="datetime-local" class="form-control" (change)="initial.value" #initial>
                </div>
                <!-- DESDE -->

                <!-- HASTA -->
                <div class="mt-2">
                    <label class="" for="">Hasta</label>
                    <input type="datetime-local" class="form-control" (change)="end.value" #end>
                </div>
                <!-- HASTA -->

                <button type="button" class="btn btn-outline-primary btn-sm btn-block mt-4" (click)="buscarPor(initial.value, end.value)"> 
                    <i class="bi-search"></i> Buscar 
                </button>

            </div>
        </div>
        <!-- FILTRO -->

        <!-- TABLE CLIENTS -->
        <div class="shadow p-3 rounded bg-white col-12 col-md-9 col-xl-9 mt-2">

            <div>
                <div>
                    <div class="form-floating mb-2">
                        <span class="position-absolute top-50 start-90 translate-middle"><i class=" bi-search " style="font-size: 1rem "></i></span>
                        <input type="text" class="form-control" id="floatingInput2" placeholder="Buscar Producto" (keyup)="buscar(search.value)" (keydown.enter)="buscar(search.value)" #search>
                        <label for="floatingInput2 ">Buscar Producto</label>
                    </div>
                </div>

                <!-- FILTROS -->
                <div class="d-flex justify-content-end flex-wrap">

                    <div>
                        <label for="mostrar" class="me-2">Mostrar: </label>
                        <select name="" id="" [value]="query.hasta" #mostrar (change)="limiteChange(mostrar.value)">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="250">250</option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                            <option value="5000">5000</option>
                            <option value="10000">10000</option>
                        </select>
                    </div>

                </div>
                <!-- FILTROS -->                

                <!-- CARGANDO -->
                <div *ngIf="cargando">
                    <div class="text-center p-4">
                        <div class="spinner-grow text-secondary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <small class="text-muted">cargando...</small>
                </div>
                <!-- CARGANDO -->

                <div *ngIf="!cargando" class="table-responsive ">
                    <table class="table table-borderless table-striped table-hover table-sm animated fadeIn ">
                        <thead class="border-bottom ">
                            <tr>
                                <th class="text-muted " scope="col ">#</th>
                                <th class="text-muted " scope="col " colspan="2">Codigo</th>
                                <th class="text-muted " scope="col " colspan="2">Nombre</th>
                                <th class="text-muted text-center" scope="col">Departamento</th>
                                <th class="text-muted " scope="col ">Descripción</th>
                                <th class="text-muted " scope="col ">Tipo</th>
                                <th class="text-muted text-center" scope="col">Antes</th>
                                <th class="text-muted text-center" scope="col">Cantidad</th>
                                <th class="text-muted text-center" scope="col">Stock</th>
                                <th class="text-muted " scope="col ">Usuario</th>
                                <th class="text-muted " scope="col ">fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="!sinResultados" class="text-center ">
                                <th colspan="13" class="py-4">
                                    <h4 class="text-muted">Sin Resultados</h4>
                                </th>
                            </tr>
                            <tr class="trHover" *ngFor="let item of productosLog; let i = index">
                                <th scope="row ">{{ i + 1}}</th>
                                <td colspan="2">{{ item.code }}</td>
                                <td colspan="2">{{ item.name }}</td>
                                <td class="text-center">{{ item.departamento }}</td>
                                <td>
                                    <a *ngIf="item.invoice" [routerLink]="['/dashboard/factura', item.invoice._id]">                   
                                        {{ item.description }}
                                    </a>
                                    <a *ngIf="item.compra" [routerLink]="['/dashboard/compra', item.compra]">                   
                                        {{ item.description }}
                                    </a>
                                    <span *ngIf="!item.invoice && !item.compra">
                                        {{ item.description }}                                
                                    </span>
                                </td>
                                <td>
                                    <span *ngIf="item.type === 'Salida'" class="badge rounded-pill bg-danger text-white-75">{{ item.type }}</span>
                                    <span *ngIf="item.type === 'Agrego'" class="badge rounded-pill bg-success text-white-75">{{ item.type }}</span>
                                    <span *ngIf="item.type === 'Compra'" class="badge rounded-pill bg-success text-white-75">{{ item.type }}</span>
                                    <span *ngIf="item.type === 'Elimino'" class="badge rounded-pill bg-warning text-white-75">{{ item.type }}</span>
                                    <span *ngIf="item.type === 'Devolución'" class="badge rounded-pill bg-info text-white-75">{{ item.type }}</span>
                                </td>

                                <td class="text-center">{{ item.befored | number }}</td>
                                <td class="text-center">{{ item.qty | number }}</td>
                                <td class="text-center">{{ item.stock  | number}}</td>
                                <td>{{ item.cajero.name }}</td>
                                <td> <small class="text-wrapp"> {{ item.fecha | date:'medium'}}</small></td>
                            </tr>
                        </tbody>

                    </table>

                </div>

                <!-- BTN SIGUIENTE Y ANTERIOR -->
                <div class="row">
                    <div class="col col-md-4">
                        <small class="text-muted">Total de facturas: ({{total}})</small>
                        <small *ngIf="resultado !== 0" class="text-muted"> - (Resultados: {{ resultado }})</small>
                        <small *ngIf="query.desde !== 0" class="text-muted"> - (Desde el: {{ query.desde + 1}} Hasta el: {{ query.desde + productosLog.length }})</small>
                        
                    </div>

                    <div class="col d-flex justify-content-end">
                        <button [disabled]="query.desde === 0" type="button" (click)="cambiarPagina((query.hasta * -1))" class="btn btn-sm btn-dark btnW waves-effect waves-light px-3">Anterior</button>
                        <button [disabled]="query.hasta  > productosLog.length || query.hasta > total" type="button" (click)="cambiarPagina(query.hasta)" class="btn btn-sm btn-dark btnW waves-effect waves-light px-3 ms-2">Siguiente</button>
                    </div>
                </div>
                <!-- BTN SIGUIENTE Y ANTERIOR -->

            </div>
        </div>
        <!-- TABLE CLIENTS -->

    </div>



</div>

<!-- =========================================================================
BODY 
========================================================================= -->